{%extends "layout.html"%}
{%block content%}
{%import "_macros.html" as macros%}

            
                    <h1>Diccionario</h1>
                        <form action="" method="post" novalidate>
        
        

                            {{macros.input_Form(form.ingles,class="form-control")}}
                            {{macros.input_Form(form.espaniol,class="form-control")}}
    

                            <input type="submit" name="btn1">
                        </form>
             
                    <h1>Busqueda</h1>
                        <form action="" method="post" novalidate>
        
        

                        {{macros.input_Form(form2.idioma,class="form-control")}}
                        {{macros.input_Form(form2.palabra,class="form-control")}}
    

                        <input type="submit" name="btn2">
                        </form>
                
       
                
                   
                
  
{%endblock%}

{%block content2%}
<h1>Resultado: {{resultado}}</h1>
{%endblock%}
